
.wrapper {
        display: flex;
        flex-direction: column;
        font-family: sans-serif;
        background-color: white;
        flex: 1;
        border: 0px;
}
.nav {
    display: flex;
    justify-content: right;
    color: white;
}
.nav a{
    margin: 8px;
}
.nav img{
    margin-right: auto;
}
.landing {
    display: flex;
    padding: 30px;
    gap: 20px;
}
.landing img {
    margin-left: auto;
}
.landing h2, p {
    margin: 0px;
}
.landing button {
    margin-top: auto;
}
header {
    display: flex;
    flex-direction: column;
    background-color: #603191;
    color: white;
    justify-content: space-around;
}

#quote{
    display: flex;
    background-color: #b68de0;
    color: #250447;
    max-width: 400px;
    flex-direction: column;
    margin: auto;
    align-items: end;
}
footer {
    display: flex;
    background-color: #603191;
    color: white;
    justify-content: center;
    padding: 20px;

}
#info{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.picblock {
    display: flex;
    flex-direction: column;
    flex: auto;
    
}
.picblock p {
    text-align: center;
    font-size: small;
}
#test {
    display: flex;   
    gap: 8px;
    margin-left: 60px;
    margin-right: 60px;
    justify-content: center;
} 
#call{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
